.badge {
    min-width: min-content;
    width: fit-content;
    padding: 0px 2px;
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-background-2);
    color: var(--color-text-contrast);
}