/* Main layout */
#grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "mailIcon from"
      "mailIcon to"
      "subject subject";
    gap: 8px;
    padding: 10px 5%;
}
/* Text overflow for grid child elements */
#grid * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Grid items */
#mailIcon {
  grid-area: mailIcon;
  display: flex;
  align-self: center;
  width: 12px;
}
#from {
  grid-area: from;
}
#to {
  grid-area: to;
}
#subject {
  grid-area: subject;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex * {
  margin: 0 2px; /* Gap between items */
}
.flex > span {
  font-size: small;
  padding-bottom: 1px;   
}
.active {
  color: var(--color-text-active);
  font-weight: bold;
}

#iconsContainer {
  min-width: fit-content;
}
#iconAtt {
  width: 13px;
}
#iconArrow {
  height: 7px;
  width: 7px;
}